body {
    background-color: #000;
    color: green;
    font-family: Orbitron, sans-serif;
}

div {
    margin-top: 30px;

}

.text {
    letter-spacing: 1px;
}

.cursor {
    opacity: 0;
    transition: .2s
}

.cursor.active {
    opacity: 1;
}

.image {
    width: 100%;
    opacity: 0;
    transition: .2s;
}

.image.active {
    opacity: 1;

}